src/Logger/SymfonyDi/logger.di.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://effective-group.ru/schema/dic/eff_tech_infrastructure_logger" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fileLogger">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="pathToFile"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>